@font-face {
    font-family: $nanitosans-reguler;
    src: url('../assets/fonts/NunitoSans-Regular.ttf') format('truetype');     
    font-style: normal; 
}
@font-face {
    font-family: $nanitosans-semibold;
    src: url('../assets/fonts/NunitoSans-SemiBold.ttf') format('truetype');     
    font-style: normal; 
}
@font-face {
    font-family: $nanitosans-bold;
    src: url('../assets/fonts/NunitoSans-Bold.ttf') format('truetype');     
    font-style: normal; 
}