// fonts
$nanitosans-reguler:'nanitosans-reguler';
$nanitosans-semibold:'nanitosans-semibold';
$nanitosans-bold:'nanitosans-bold';
// font sizes
$size-36px:36px;
$size-22px:22px;
$size-18px:18px;
$size-16px:16px;
$size-14px:14px;
//radius
$sections-radius:24px;
$logo-radius:12px;
$defult-radius:14px;
//colors
$primary-color:#3F8CFF;
$secondary-color:#0A1629;
$inactive-step:#FFFFFF4D;
$bg-color:#F4F9FD;
$labelandtext-color:#7D8592;
$border-color:#D8E0F0;
$shadow-color:#B8C8E039;
$main-content-shadow:#C4CBD61A;
$bottom-line-color:#E4E6E8;
$prev-button-bg:#00000000;
$next-btn-shadow:#3F8CFF43;

//opacity
$white-text-opacity:0.5;
