@import "../sass/variables";
@import "../sass/font";
@import "../sass/mixins";
@import "../sass/extends";
body{
    font-family: $nanitosans-reguler, sans-serif;
    .content{
        background-color: $bg-color;
            
        min-height: 100vh;
        @media (min-width:992px) {
            padding: 20px;
        }   
        @media (max-width:991.98px) {
            padding: 10px;
        }  
        .side-content{
            background-color: $primary-color; 
            @media (min-width:992px) {
                width: 30%;
                padding-block: 60px;
                padding-inline: 40px;
            }  
            @media (max-width:991.98px) {
                width: 100%;
                padding-block: 30px;
                padding-inline: 10px;
            }  
            @include border-radius($sections-radius);
            .logo-title{
                .get-started-header{   
                    @media (max-width:991.98px) {
                        margin-block:0;
                        margin-inline-start: 30px;
                    }
                    @media (min-width:992px) {
                        margin-block: 60px;
                    }
                    @media (min-width:575.98px) {
                        @include fontandsize($nanitosans-bold,$size-36px);
                    }
                    @media (max-width:576px) {
                        @include fontandsize($nanitosans-bold,30px);
                    }
                }
               
                @media (max-width:991.98px) {
                   margin-block-end: 25px;
                }   
                @media (min-width:992px) {
                    margin-block: 0;
                }

            }      
            .steps-list{
                padding-inline-start: 0;
                .steps{
                    .step{
                        @include fontandsize($nanitosans-semibold,$size-18px);
                        color: $inactive-step;  
                    }
                    &.active,&.done {
                        .step {
                            color: white; 
                        }
                    } 
                    .circle{
                        width: 24px;
                        height: 24px;
                        border:2px solid $inactive-step;
                        @include border-radius(50%);
                        @media (min-width:992px) {
                            margin-inline-end: 20px; 
                        }
                        @media (max-width:991.98px) {
                            margin-inline-end: 0; 
                        }        
                    }
                    &.done{
                        .circle{
                            background-color: white;
                            background-image:url("../assets/imgs/done.svg") ;
                            background-repeat: no-repeat;
                            background-position: center;
                        }       
                    }
                    &.active {
                        .circle {
                            background-color: $inactive-step;
                            border-color: white;
                        }         
                    }   
                }
                .virtical-line{
                    border :1px solid $inactive-step;
                    
                    list-style: none;
                    &.active {
                        border-color: white;
                        
                    } 
                    @media (min-width:992px) {
                        height: 26px;
                        width: 0px;
                        margin-inline-start: 11px;
                        margin-block: 4px;
                    }
                    @media (max-width:991.98px) {
                        height: 0px;
                        width: 40px;
                        margin-block: auto;
                    } 
                }
            }     
            .steps-num{
                list-style: none;
                padding-inline-start: 5px;
                .step-num{   
                    &.active,&.done{
                        color: white;
                    }
                    @media (min-width:575.98px) {
                        @include text($nanitosans-bold,$size-14px,$inactive-step);
                    }
                    @media (max-width:576px) {
                        @include text($nanitosans-bold,12px,$inactive-step);
                    }
                }
            }               
        }
        .main-content{  
            @media (min-width:992px) {
                margin-inline: 30px 10px;
                width: 70%;
                padding-inline: 40px;
                padding-top: 75px;
            }  
            
            @media (max-width:991.98px) {
                margin-inline: 0;
                margin-top: 10px;
                width: 100%;
                padding-inline: 10px;
                padding-top: 30px;
            }  

            @include border-radius($sections-radius);
            @include box-shadow(0px,6px,58px,$main-content-shadow);
            .step-2, .step-3, .step-4 {
                display: none;
              }
            .step-1{
                @extend .general-styles;
                form{   
                    .form-select{ 
                         
                        @media (min-width:576px) {
                            width: 74px;
                            height: 48px; 
                        }
                        @media (max-width:575.98px) {
                            width: 55px;
                            height: 40px; 
                        }
                        cursor: pointer;       
                    }    
                    .sms-section{
                       
                        @media (min-width:576px) {
                            width: 280px;
                            input{
                                width: 58px;
                            }
                        }
                        @media (max-width:575.98px) {
                            width: 60%;
                            input{
                                width: 40px;
                            }
                        }
                    }                    
                    .info{   
                        background-color: $bg-color;
                        @include border-radius($defult-radius);
                        
                        .info-text{
                            padding-top: 3px;
                            @include text($nanitosans-semibold,$size-14px,$primary-color);
                        }
                       
                    }
                    .pass-input-group{
                        position: relative;
                        .eye-icons{
                            position: absolute;
                            right: 20px;
                            @media (min-width:576px) {
                                top:8.5px; 
                            }
                            @media (max-width:575.98px) {
                                top:3px;
                            }
                            .bi{
                                @include text($nanitosans-bold,24px,$labelandtext-color);
                                cursor: pointer; 
                            }
                        }
                    }              
                }    
            }
            .step-2{
                @extend .general-styles;
                form{
                    .form-check{    
                        .form-check-input {
                            border: 3px solid $secondary-color;
                            width: 20px;
                            height: 20px;
                            box-shadow: none;
                            &:checked{
                                background-color: transparent;
                                background-image: url("../assets/imgs/fill.svg");
                                background-size: 10px 10px;
                                background-position: center center;
                                
                            }
                        }
                        .form-check-label{
                            @include text-sizeandcolor ($size-16px,$secondary-color);
                        
                        }
                    }
                } 
            }
            .step-3{
                @extend .general-styles; 
                form{
                    .group-btns{
                        .btn-option{
                            width: 24%;
                            @extend .common-styles  ; 
                           
                            @media (min-width:576px) {
                                top:8.5px;
                                @include text-sizeandcolor($size-14px,$labelandtext-color); 
                            }
                            @media (max-width:575.98px) {
                                top:3px;
                                @include text-sizeandcolor(12px,$labelandtext-color);
                            }
                            &:hover{
                                border-color:darken($border-color, $amount: 20%)
                            }
                           
                            cursor: pointer;
                        }
                        .btn-check:checked + .btn-option{
                            background-color: $primary-color;
                            color: white;
                        }
                    }    
                }  
            }
            .step-4{
                @extend .general-styles;
                form{
                    .add-another-member {
                        @include text($nanitosans-semibold,$size-16px,$primary-color);
                        cursor: pointer;
                    }
                }  
            }
            .bottom-section{
                width: 100%;
                
                @media (min-width:575.98px) {
                    margin-top:60px;
                }
                @media (max-width:576px) {
                    margin-top: 30px;
                }
                hr{
                    width: 100%;
                    height: 1px;
                    color: $bottom-line-color;
                }
                .prev-next-buttons{
                    .prev-button{
                        @include buttonstyles($primary-color,$prev-button-bg);
                        @include box-shadow(0px,6px ,58px ,$main-content-shadow );
                        display: none;
                        &.shown {
                            display: inline-block;
                          }     
                        }
                    .prev-hidden{
                        justify-content: flex-end;
                    }
                    .next-button{
                        @include buttonstyles(white,$primary-color);
                        @include box-shadow(0px,6px ,12px ,$next-btn-shadow )
                    }    
                }
            }
        }
    }
}