@font-face {
  font-family: "nanitosans-reguler";
  src: url("../assets/fonts/NunitoSans-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "nanitosans-semibold";
  src: url("../assets/fonts/NunitoSans-SemiBold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "nanitosans-bold";
  src: url("../assets/fonts/NunitoSans-Bold.ttf") format("truetype");
  font-style: normal;
}
.common-styles, body .content .main-content .step-3 form .group-btns .btn-option, .general-styles form .form-control, body .content .main-content .step-4 form .form-control, body .content .main-content .step-3 form .form-control, body .content .main-content .step-2 form .form-control, body .content .main-content .step-1 form .form-control {
  border-radius: 14px;
  border-color: #D8E0F0;
  box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.2235294118);
}
@media (min-width: 576px) {
  .common-styles, body .content .main-content .step-3 form .group-btns .btn-option, .general-styles form .form-control, body .content .main-content .step-4 form .form-control, body .content .main-content .step-3 form .form-control, body .content .main-content .step-2 form .form-control, body .content .main-content .step-1 form .form-control {
    height: 48px;
  }
}
@media (max-width: 575.98px) {
  .common-styles, body .content .main-content .step-3 form .group-btns .btn-option, .general-styles form .form-control, body .content .main-content .step-4 form .form-control, body .content .main-content .step-3 form .form-control, body .content .main-content .step-2 form .form-control, body .content .main-content .step-1 form .form-control {
    height: 40px;
  }
}

@media (min-width: 576px) {
  .general-styles, body .content .main-content .step-4, body .content .main-content .step-3, body .content .main-content .step-2, body .content .main-content .step-1 {
    width: 403px;
  }
}
@media (max-width: 575.98px) {
  .general-styles, body .content .main-content .step-4, body .content .main-content .step-3, body .content .main-content .step-2, body .content .main-content .step-1 {
    width: 80%;
  }
}
.general-styles .step-number, body .content .main-content .step-4 .step-number, body .content .main-content .step-3 .step-number, body .content .main-content .step-2 .step-number, body .content .main-content .step-1 .step-number {
  font-family: "nanitosans-bold";
  font-size: 14px;
  color: #3F8CFF;
}
.general-styles .step-title, body .content .main-content .step-4 .step-title, body .content .main-content .step-3 .step-title, body .content .main-content .step-2 .step-title, body .content .main-content .step-1 .step-title {
  margin-block: 25px;
  font-family: "nanitosans-bold";
  font-size: 22px;
  color: #0A1629;
}
.general-styles form .label, body .content .main-content .step-4 form .label, body .content .main-content .step-3 form .label, body .content .main-content .step-2 form .label, body .content .main-content .step-1 form .label {
  font-family: "nanitosans-bold";
  font-size: 14px;
  color: #7D8592;
  margin-bottom: 10px;
}
.general-styles form .form-control::-moz-placeholder, body .content .main-content .step-4 form .form-control::-moz-placeholder, body .content .main-content .step-3 form .form-control::-moz-placeholder, body .content .main-content .step-2 form .form-control::-moz-placeholder, body .content .main-content .step-1 form .form-control::-moz-placeholder {
  font-size: 14px;
  color: #7D8592;
}
.general-styles form .form-control::placeholder, body .content .main-content .step-4 form .form-control::placeholder, body .content .main-content .step-3 form .form-control::placeholder, body .content .main-content .step-2 form .form-control::placeholder, body .content .main-content .step-1 form .form-control::placeholder {
  font-size: 14px;
  color: #7D8592;
}
.general-styles form .form-control:focus, body .content .main-content .step-4 form .form-control:focus, body .content .main-content .step-3 form .form-control:focus, body .content .main-content .step-2 form .form-control:focus, body .content .main-content .step-1 form .form-control:focus {
  color: #0A1629;
  border-color: #3F8CFF;
  box-shadow: 0px 1px 7px #3F8CFF;
  outline: 0;
}
.general-styles form .form-select, body .content .main-content .step-4 form .form-select, body .content .main-content .step-3 form .form-select, body .content .main-content .step-2 form .form-select, body .content .main-content .step-1 form .form-select {
  font-size: 14px;
  color: #7D8592;
}

body {
  font-family: "nanitosans-reguler", sans-serif;
}
body .content {
  background-color: #F4F9FD;
  min-height: 100vh;
}
@media (min-width: 992px) {
  body .content {
    padding: 20px;
  }
}
@media (max-width: 991.98px) {
  body .content {
    padding: 10px;
  }
}
body .content .side-content {
  background-color: #3F8CFF;
  border-radius: 24px;
}
@media (min-width: 992px) {
  body .content .side-content {
    width: 30%;
    padding-block: 60px;
    padding-inline: 40px;
  }
}
@media (max-width: 991.98px) {
  body .content .side-content {
    width: 100%;
    padding-block: 30px;
    padding-inline: 10px;
  }
}
@media (max-width: 991.98px) {
  body .content .side-content .logo-title .get-started-header {
    margin-block: 0;
    margin-inline-start: 30px;
  }
}
@media (min-width: 992px) {
  body .content .side-content .logo-title .get-started-header {
    margin-block: 60px;
  }
}
@media (min-width: 575.98px) {
  body .content .side-content .logo-title .get-started-header {
    font-family: "nanitosans-bold";
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  body .content .side-content .logo-title .get-started-header {
    font-family: "nanitosans-bold";
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  body .content .side-content .logo-title {
    margin-block-end: 25px;
  }
}
@media (min-width: 992px) {
  body .content .side-content .logo-title {
    margin-block: 0;
  }
}
body .content .side-content .steps-list {
  padding-inline-start: 0;
}
body .content .side-content .steps-list .steps .step {
  font-family: "nanitosans-semibold";
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3019607843);
}
body .content .side-content .steps-list .steps.active .step, body .content .side-content .steps-list .steps.done .step {
  color: white;
}
body .content .side-content .steps-list .steps .circle {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 50%;
}
@media (min-width: 992px) {
  body .content .side-content .steps-list .steps .circle {
    margin-inline-end: 20px;
  }
}
@media (max-width: 991.98px) {
  body .content .side-content .steps-list .steps .circle {
    margin-inline-end: 0;
  }
}
body .content .side-content .steps-list .steps.done .circle {
  background-color: white;
  background-image: url("../assets/imgs/done.svg");
  background-repeat: no-repeat;
  background-position: center;
}
body .content .side-content .steps-list .steps.active .circle {
  background-color: rgba(255, 255, 255, 0.3019607843);
  border-color: white;
}
body .content .side-content .steps-list .virtical-line {
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  list-style: none;
}
body .content .side-content .steps-list .virtical-line.active {
  border-color: white;
}
@media (min-width: 992px) {
  body .content .side-content .steps-list .virtical-line {
    height: 26px;
    width: 0px;
    margin-inline-start: 11px;
    margin-block: 4px;
  }
}
@media (max-width: 991.98px) {
  body .content .side-content .steps-list .virtical-line {
    height: 0px;
    width: 40px;
    margin-block: auto;
  }
}
body .content .side-content .steps-num {
  list-style: none;
  padding-inline-start: 5px;
}
body .content .side-content .steps-num .step-num.active, body .content .side-content .steps-num .step-num.done {
  color: white;
}
@media (min-width: 575.98px) {
  body .content .side-content .steps-num .step-num {
    font-family: "nanitosans-bold";
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3019607843);
  }
}
@media (max-width: 576px) {
  body .content .side-content .steps-num .step-num {
    font-family: "nanitosans-bold";
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3019607843);
  }
}
body .content .main-content {
  border-radius: 24px;
  box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.1019607843);
}
@media (min-width: 992px) {
  body .content .main-content {
    margin-inline: 30px 10px;
    width: 70%;
    padding-inline: 40px;
    padding-top: 75px;
  }
}
@media (max-width: 991.98px) {
  body .content .main-content {
    margin-inline: 0;
    margin-top: 10px;
    width: 100%;
    padding-inline: 10px;
    padding-top: 30px;
  }
}
body .content .main-content .step-2, body .content .main-content .step-3, body .content .main-content .step-4 {
  display: none;
}
body .content .main-content .step-1 form .form-select {
  cursor: pointer;
}
@media (min-width: 576px) {
  body .content .main-content .step-1 form .form-select {
    width: 74px;
    height: 48px;
  }
}
@media (max-width: 575.98px) {
  body .content .main-content .step-1 form .form-select {
    width: 55px;
    height: 40px;
  }
}
@media (min-width: 576px) {
  body .content .main-content .step-1 form .sms-section {
    width: 280px;
  }
  body .content .main-content .step-1 form .sms-section input {
    width: 58px;
  }
}
@media (max-width: 575.98px) {
  body .content .main-content .step-1 form .sms-section {
    width: 60%;
  }
  body .content .main-content .step-1 form .sms-section input {
    width: 40px;
  }
}
body .content .main-content .step-1 form .info {
  background-color: #F4F9FD;
  border-radius: 14px;
}
body .content .main-content .step-1 form .info .info-text {
  padding-top: 3px;
  font-family: "nanitosans-semibold";
  font-size: 14px;
  color: #3F8CFF;
}
body .content .main-content .step-1 form .pass-input-group {
  position: relative;
}
body .content .main-content .step-1 form .pass-input-group .eye-icons {
  position: absolute;
  right: 20px;
}
@media (min-width: 576px) {
  body .content .main-content .step-1 form .pass-input-group .eye-icons {
    top: 8.5px;
  }
}
@media (max-width: 575.98px) {
  body .content .main-content .step-1 form .pass-input-group .eye-icons {
    top: 3px;
  }
}
body .content .main-content .step-1 form .pass-input-group .eye-icons .bi {
  font-family: "nanitosans-bold";
  font-size: 24px;
  color: #7D8592;
  cursor: pointer;
}
body .content .main-content .step-2 form .form-check .form-check-input {
  border: 3px solid #0A1629;
  width: 20px;
  height: 20px;
  box-shadow: none;
}
body .content .main-content .step-2 form .form-check .form-check-input:checked {
  background-color: transparent;
  background-image: url("../assets/imgs/fill.svg");
  background-size: 10px 10px;
  background-position: center center;
}
body .content .main-content .step-2 form .form-check .form-check-label {
  font-size: 16px;
  color: #0A1629;
}
body .content .main-content .step-3 form .group-btns .btn-option {
  width: 24%;
  cursor: pointer;
}
@media (min-width: 576px) {
  body .content .main-content .step-3 form .group-btns .btn-option {
    top: 8.5px;
    font-size: 14px;
    color: #7D8592;
  }
}
@media (max-width: 575.98px) {
  body .content .main-content .step-3 form .group-btns .btn-option {
    top: 3px;
    font-size: 12px;
    color: #7D8592;
  }
}
body .content .main-content .step-3 form .group-btns .btn-option:hover {
  border-color: #8ea5d4;
}
body .content .main-content .step-3 form .group-btns .btn-check:checked + .btn-option {
  background-color: #3F8CFF;
  color: white;
}
body .content .main-content .step-4 form .add-another-member {
  font-family: "nanitosans-semibold";
  font-size: 16px;
  color: #3F8CFF;
  cursor: pointer;
}
body .content .main-content .bottom-section {
  width: 100%;
}
@media (min-width: 575.98px) {
  body .content .main-content .bottom-section {
    margin-top: 60px;
  }
}
@media (max-width: 576px) {
  body .content .main-content .bottom-section {
    margin-top: 30px;
  }
}
body .content .main-content .bottom-section hr {
  width: 100%;
  height: 1px;
  color: #E4E6E8;
}
body .content .main-content .bottom-section .prev-next-buttons .prev-button {
  color: #3F8CFF;
  background-color: rgba(0, 0, 0, 0);
  font-family: "nanitosans-semibold";
  font-size: 16px;
  height: 48px;
  border-radius: 14px;
  box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.1019607843);
  display: none;
}
body .content .main-content .bottom-section .prev-next-buttons .prev-button.shown {
  display: inline-block;
}
body .content .main-content .bottom-section .prev-next-buttons .prev-hidden {
  justify-content: flex-end;
}
body .content .main-content .bottom-section .prev-next-buttons .next-button {
  color: white;
  background-color: #3F8CFF;
  font-family: "nanitosans-semibold";
  font-size: 16px;
  height: 48px;
  border-radius: 14px;
  box-shadow: 0px 6px 12px rgba(63, 140, 255, 0.262745098);
}/*# sourceMappingURL=main.css.map */